// 颜色定义规范
$color-background: #f3f6f9;
$color-theme: #00c0eb;
$color-theme-text: #47b3e3;
$color-text-main: #031a1f;
$color-text-gray: #8d9799;

// 字体定义规范
$font-size-small-s: .293333rem /* 11px -> .293333rem */;
$font-size-small: .32rem /* 12px -> .32rem */;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;