.cardWrap{
    background: #fff;
    height: 205px;
    display: flex;
    border-radius: 8px;
    padding: 16px;
}

.left{
    width: 75px;
    height: 93px;
    object-fit: cover;
    border-radius: 4px;
}

.cardTop{
    display: flex;
    flex-direction: row;
}

.top{
    font-size: 16px;
    color: $color-text-main;
    line-height: 22px;
}

.right{
    display: flex;
    flex-direction: column;
}
.middle{
    display: flex;
    flex-direction: row;
}