.cardWrap{
    background: #fff;
    height: 205px;
    display: flex;
    border-radius: 8px;
    padding: 16px;
}

.left{
    width: 75px;
    height: 93px;
    object-fit: cover;
    border-radius: 4px;
}