@font-face {
  font-family: "jl-icon"; 
  src: url('/fonts/iconfont.woff2?t=1625825086020') format('woff2'),
       url('/fonts/iconfont.woff?t=1625825086020') format('woff'),
       url('/fonts/iconfont.ttf?t=1625825086020') format('truetype');
}

.iconfont {
  font-family: "jl-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-julivea-iconguanbi:before {
  content: "\e603";
}

.icon-julivea-iconjulizixunshi1quancheng:before {
  content: "\e604";
}

.icon-julivea-iconjulizixunshi2zixun:before {
  content: "\e605";
}

.icon-julivea-iconfuxuankuangxuanzhong:before {
  content: "\e606";
}

.icon-julivea-iconjulizixunshi3shipin:before {
  content: "\e607";
}

.icon-julivea-icondibu-zaixiankefu:before {
  content: "\e608";
}

.icon-julivea-iconsousuo:before {
  content: "\e609";
}

.icon-julivea-icongerenzhongxin:before {
  content: "\e60a";
}

.icon-julivea-iconbiaotijiantou:before {
  content: "\e60b";
}

.icon-julivea-icondibu-bangwozhaofang:before {
  content: "\e60c";
}

.icon-julivea-iconjulizixunshi4zhuanche:before {
  content: "\e60d";
}

.icon-julivea-iconchengshi:before {
  content: "\e60e";
}

.icon-julivea-iconpaixu:before {
  content: "\e60f";
}

.icon-julivea-iconloupan-shipin:before {
  content: "\e610";
}

.icon-julivea-iconloupan-youhui3:before {
  content: "\e611";
}

.icon-julivea-icondibu-dadianhua1:before {
  content: "\e612";
}

.icon-julivea-iconjingang-1quanbuloupan1:before {
  content: "\e613";
}

.icon-julivea-iconfanhui:before {
  content: "\e614";
}

.icon-julivea-iconjingang-3zaishouloupan1:before {
  content: "\e615";
}

.icon-julivea-iconloupan-youhui:before {
  content: "\e616";
}

.icon-julivea-iconjiantou6:before {
  content: "\e617";
}

.icon-julivea-iconwenhao:before {
  content: "\e618";
}

.icon-julivejulixinfang:before {
  content: "\e619";
}

