// 颜色定义规范
$color-background: #F4F7F9;
$color-bg-white: #fff;
$color-theme-text: #00C0EB;
$color-text-main: #031A1F;
$color-text-gray: #7E8C8F;
$color-btn-green: #12C48E;
$color-btn-blue: #00C0EB;
$color-btn-gray: #7E8C8F;

// 字体定义规范
$font-size-small-s: 11px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 21px;